<h1 class="center"><%= current_worker.email %>'s claimed jobs:</h1>

<div class="row">
  <div class="col s6">
    <h3 class="center">Pending Jobs</h3>
    <div class="current-jobs">
      <%= render 'jobs' %>
    </div>

  </div>

  <div class="col s3">
    <h3 class="center">Completed Jobs</h3>
    <div class="completed-jobs">
      <% current_worker.jobs.where(completed: true).each do |job| %>
      <h3><%= job.title  %></h3>
      <%= link_to "View Details", job_path(job), class: "btn red"%>
      <hr>
      <% end %>
    </div>
  </div>

  <div class="col s3">
    <h3 class="center">Available Jobs</h3>
    <div class="available-jobs">
      <% Job.all.where(pending: false).each do |job| %>
      <h3><%= job.title  %></h3>
      <%= link_to "View Details", job_path(job), class: "btn red"%>
      <hr>
      <% end %>
    </div>
  </div>
</div>
