<h1><%= current_worker.email %>'s claimed jobs:</h1>


<div class="current-jobs">

    <% current_worker.jobs.each do |job| %>
      <h3><%= job.title  %></h3>
      <%= link_to "View Details", job_path(job), class: "job_#{job.id} btn"%>
      <%= form_for job, remote: true do |f| %>
        <%= f.check_box :current_status, class: 'job-checkbox' %>
        <%= f.submit "Update" %>
        <%= link_to 'Mark as Complerte', job_path(job), method: 'patch', class: 'btn' %>
        <hr>
      <% end %>
    <% end %>
</div>
